* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  height: 100px;
  background-color: #403c3b;
  // display: flex;
  // align-items: center;
}

.logo {
  margin: 0;
  color: white;
  letter-spacing: 15%;
}

.address {
  color: #504b4a;
  border-radius: 10px;
}

.btn {
  border-radius: 24px;
  background: linear-gradient(to right, #618967, #72a479);
  padding: 24px 24px;
  border: 1px solid #61896700;
}
